@function config($keys...){
	//defaults for map search  
		$subj: $CONFIG; //[map     ]  map to search in 
		$keys: $keys;   //[argslist]  key(s) to search
		$kval: false;   //[any|bool]  result of lookup
		$nth:  false;   //[null|num]  nth search-index  (optional)
	//---
	//if last $keys is numeric 
		@if type-of(nth($keys,-1))==number {
			$nth:  nth($keys,-1);               //store it to $list
			$keys: remove($keys,nth($keys,-1)); //pop it off $keys
			// @debug #{'{'$keys'}['$nth']'};
			}
	//---
	//if $keys exist in config map 
	  @if map-deep-has-keys($subj,$keys...){
			$subj: $CONFIG;
			$keys: $keys;
			 //^these are already the defaults
			 // but legibility never hurt anyone
		  }
	//else first $keys is map  
		@elseif type-of(nth($keys,1))==map {
			$subj: nth($keys,1);               //set $subj to first $keys entry
			$keys: remove($keys,nth($keys,1)); //update $keys
			}
	//---
	//if $keys exist in $subj  
	  @if map-deep-has-keys($subj,$keys...){
	    $kval: map-deep-get($subj,$keys...);// store the found value
		  }
	//else warn                
		@else {
			@warn 'no match for #{$keys}';
			@return false;
			}
	//---
	//=if $kval=list + $nth=num
		@if type-of($kval)==list and type-of($nth)==number {
			// return $kval entry at index $nth
			@return nth($kval,$nth);
			}
	//---
	//return results of lookup 
		@return $kval;
	}